{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.ico' %}"
    />
        <!-- Include your CSS files here -->
    <link
      rel="preload" 
        as="style"
        href="{% static 'css/style.css' %}"
        onload="this.rel = 'stylesheet'"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap"
      rel="stylesheet"
    />
    
    <title>Menu</title>
</head>
<header>
    <img src="{% static 'img/logo.png' %}" />
</header>
<nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'booking' %}">Book Now</a></li>
      </ul>
  </nav>
<body>
    <h1>Menu</h1>
   <ul>
    {% for menu in menu_items %}
        <li>
            {{ menu.title }} - {{ menu.description }} - ${{ menu.price }}
            <form action="{% url 'add_to_cart' menu.id %}" method="post">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1" />
                <button type="submit">Add to Cart</button>
            </form>
        </li>
    {% endfor %}
</ul>
    
</body>
</html>